* {
  padding: 0;
  margin: 0;
}

html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #000000;
}

body {
  width: auto;
  height: auto;

  justify-self: center;
}

.inter-four {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.inter-five {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.inter-six {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.inter-seven {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.default-button {
  height: 40px;
  width: auto;

  cursor: pointer;

  font-size: 16px;

  background-color: white;
  border-radius: 10px;
  border: 1px solid #d9d9d9;
  padding: 0 10px 0 10px;
}

.default-button:hover {
  background-color: #d9d9d9;
  border-color: #d9d9d9;
}

.default-button:active {
  background-color: #9f9e9e;
  border-color: #9f9e9e;
}

.default-button > img,
.default-button > span {
  vertical-align: middle;
  margin-right: 10px;
}
